headder h1 {
    font-family: sans-serif;
    text-align: center;
    width: 24%;
    height: 4%;
    position: absolute;
    left: 35.5%;
    top: 8%;
    color: white;
    background-color: lightblue;
    padding: 0%;
    border: 1px solid lightblue;
    border-radius: 30%;
}
headder img {
    margin-left: 16%;
    margin-top: 2%;
}
.one {
    position: absolute;
    font-size: 150%;
    text-decoration: none;
    color: black;
    left: 5%;
    font-family: sans-serif;
    top: 15%;
    background-color: lightblue;
    padding: 1%;
    border-radius: 30%;
    box-shadow: 10px 10px 5px 3px gray;
}
.one:hover {
    position: absolute;
    font-size: 220%;
    text-decoration: none;
    color: purple;
    left: 5%;
    font-family: sans-serif;
    background-color: lightblue;
    padding: 1%;
    border-radius: 30%;
    box-shadow: 5px 5px 2px 3px gray;
}
.two {
    position: absolute;
    font-size: 150%;
    text-decoration: none;
    color: black;
    right: 5%;
    font-family: sans-serif;
    top: 15%;
    background-color: lightblue;
    padding: 1%;
    border-radius: 30%;
    box-shadow: 10px 10px 5px 3px gray;
}
.two:hover {
    position: absolute;
    font-size: 220%;
    text-decoration: none;
    color: purple;
    right: 5%;
    font-family: sans-serif;
    background-color: lightblue;
    padding: 1%;
    border-radius: 30%;
    box-shadow: 5px 5px 2px 3px gray;
}
.text {
    margin-top: 1%;
    padding: 1%;
    width: 70%;
    font-size: 180%;
    font-family: sans-serif;
    background-color: E1E1E1;
    margin-left: 1%;
}
table td img {
    width: 350%;
}
main div p {
    margin-top: 0.5%;
    padding: 1%;
    width: 70%;
    font-size: 180%;
    font-family: sans-serif;
    background-color: E1E1E1;
    margin-left: 1%;
}
footer p {
    margin-top: 0.5%;
    padding: 1%;
    width: 70%;
    font-size: 180%;
    font-family: sans-serif;
    background-color: E1E1E1;
    margin-left: 1%;
}
td p {
    font-size: 200%;
    font-family: sans-serif;
    margin-left: 10%;

}
table {
    margin: 0.3% 0 1% 1%;
    border-collapse: separate;
    border-spacing: 0px 35px;
}
tr {
    background-color: D1D1D1;
}
span {
    margin-top:
}
.image123 {
    width: 6%;
    padding-left: 4%;
}
.boom {
    margin-left: 55%;
    font-size: 160%;
    margin-right: 50%;
}
span {
    margin-top: 100%;
}
.back {
    width: 25%;
    height: 10%;
    margin-left: 35%;
    top: 0%;
    border-radius: 25%;
}
main img {
    width: 6%;
    height: 10%;
    border-radius: 50%;
    margin-top: 1%;
}
main div {
    display: flex;
}
.threethree {
    text-align: center;
}
.article1 {
    background-color: D9D9D9;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 20%;
    margin-left: 7%
}
.article2 {
    background-color: D9D9D9;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    width: 20%;
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.img1 {
    width: 4%;
    height: 7%;
    border-radius: 40%;
    position: absolute;
    left: 8%;
    top: 278.7%;
}
.img2 {
    width: 4%;
    height: 7%;
    border-radius: 100%;
    position: absolute;
    left: 8%;
    top: 288.7%;
}
.texte1 {
    background-color: D9D9D9;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 180%;
}
.texte2 {
    background-color: D9D9D9;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    width: 20%;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 180%;
}
p a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
p a:hover {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 103%;
    color: purple;
}
body {
    background-image: linear-gradient(	#A2FFFB, #80FFFA, #55FFF9, #1CA6A1)
}
.threethree {
    font-family: sans-serif;
}
table tr:hover {
    border:0.5% solid lightblue;
    transition: 2s border linear;
}
